#corogame
{
	background-color: pink;
	height: 80vh;
	width: 90vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
#clickzone
{
	background-color: green;
	height: 80vh;
	width: 25vw;
}

#mid
{
	background-color: cyan;
	height: 80vh;
	width: 25vw;
}

#right
{
	background-color: red;
	height: 80vh;
	width: 25vw;
}
.c-titre
{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.sous-zone
{
	width: 100%;
	height: 90%;
}
.hum
{
	
}


/* PAGE PROFIL */


#body-profil
{
	background-color: #E7AB57;
}


#main-profil
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#form-profil
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 50%;
    border: 15px solid #F0D66E;
    background-color: white;
}

.label-profil
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: #E7AB57;
    margin: 1% 0;
    
}

.input-profil
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #E7AB57;
    background-color: white;
    width: 45%;
    height: 25%;
    margin: 3% 0;
    text-align: center;
    color: #5F807D;
    font-size: 15px;
}

::placeholder
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5F807D;
    font-size: 11px;
}

/* PAGE ORIGAMI */


/* MAIN */


#main-origami
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* MAIN GAUCHE */


#main-gauche-origami
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
}


.v-origami
{
    width: 55%;
}


.h5-origami
{
    color: #E7AB57;
    font-size: 23px;
    text-align: center;
    margin-bottom: -2%;
}


.h5-forme
{
    color: #CC9E80;
    font-size: 17px;
}


.p1-origami
{
    color: #5F807D;
    font-size: 13px;
    text-align: center;
    margin: 5% 21%;
}


.a-origami1
{
    color: #F0D66E;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
}


#a-origami2
{
    color: #AAC6A1;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
}


/* MAIN DROITE */


#main-droite-origami
{
    width: 50%;
    min-height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/origami.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}


#h3-origami
{
    text-align: center;
    color: #CC9E80;
    font-size: 25px;
}


#h3-artvisuel
{
    color: #E7AB57;
    font-size: 19px;
}


#p2-origami
{
    text-align: center;
    color: white;
    font-size: 15px;
}